<form action="/course/add" method="POST">
    <p>
       <label> courseName </label> <input value="" name="courseName"> <br/>
       <label> courseDuration </label> <input value="" name="courseDuration"> <br/>
       <label> courseFee </label> <input value="" name="courseFee"> <br/>
        
        <button type="submit">Add Course </button>
    </p>

</form>